.DS_Store
.idea/shelf
/dist
/local
/ideaSDK
out/
/tmp
/target
workspace.xml
*.versionsBackup
.gradle/
build/
!**/src/**/build
!**/test/**/build
*.iml
!**/testData/**/*.iml
.idea
kotlin-ultimate/
.rpt2_cache/
libraries/tools/kotlin-test-nodejs-runner/lib/
local.properties